* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
}

.countdown {
    width: 100%;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    padding: 0.1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}



.container {
    text-align: center;
    width: 100%;
    max-width: 31.25rem; 
    padding: 0.2rem;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

h1 {
    font-size: 1.55rem;
    color: #ff4081;
}

h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
}

h2 {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.content-box {
    margin-top: 1rem;
    background-color: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    min-height: 12.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mini-game {
    margin-top: 2rem; 
    width: 100%;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center; 
    gap: 20px; 
}

button {
    font-size: 1.5rem;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    position: relative;
}

#yes-btn{
    background-color: #4119e1;
}
#no-btn {
    transition: left 0.2s, top 0.2s; 
    touch-action: manipulation;
    background-color: #000000;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#emoji {
    margin-top: 20px;
    font-size: 3rem;
}

@media (min-width: 1001px) {
    h1 {
        font-size: 2.1rem;
    }
    .container {
        max-width: 30rem;
    }
}

@media (max-width: 1000px) {
    #days-remaining{
        font-size: 1rem;
    }
    h1 {
        font-size: 1.4rem;
    }
    .container {
        margin-top: 1.5rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 1.2rem;
    }
    button {
        font-size: 1.2rem;
        padding: 8px 16px;
    }
    .countdown {
        font-size: 0.8rem; 
    }
    .container {
       margin-top: 1.2rem;
    }
}
